@charset "utf-8";
/*
Template Name: Escarine-Foo
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.4.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0{border-bottom:1px solid;}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:5px 0; font-size:12px;}

#topbar .fl_left{margin-top:4px;}
#topbar .fl_left .inline > li i{margin:0 5px 0 0; line-height:normal;}

#topbar .faico li{margin:0;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:30px 0;}

#header #logo{margin-top:8px;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}

#header #quickinfo{font-size:.8rem; text-transform:uppercase;}
#header #quickinfo li{margin-right:50px;}
#header #quickinfo li:last-child{margin-right:0;}
#header #quickinfo strong{display:block; margin:0 0 -5px 0; padding:0; font-size:.9rem;}
#header #quickinfo br{display:none;}


/* Sub Pages
--------------------------------------------------------------------------------------------------------------- */
#pagetitle{padding:80px 0 0 0;}
#pagetitle *{margin:0; padding:0;}


/* Homepage Specific
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:180px 0 0 0;}

#pageintro .introtxt{display:block; max-width:80%; margin:0 auto 100px; padding:0; text-align:center;}
#pageintro .introtxt *{margin:0;}
#pageintro .introtxt .heading{margin-bottom:30px; font-size:46px;}
#pageintro .introtxt .underline::after{margin-top:20px;}
#pageintro .introtxt p{margin-bottom:50px; font-size:16px; line-height:1.4;}
#pageintro .introtxt footer{margin-bottom:0;}
#pageintro .introtxt footer .btn{margin-bottom:0;}

#pageintro #bookatable{padding:25px 25px 10px 25px;}
#pageintro #bookatable form input, #pageintro #bookatable form button{height:38px; margin-bottom:15px; padding:10px 12px; border:none; text-align:left;}
#pageintro #bookatable form button{font-weight:bold; text-transform:uppercase; text-align:center; cursor:pointer; line-height:1;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

/* Categories */
.categories{}
.categories li{text-align:center;}
.categories li ul{margin:0; padding:0; list-style:none;}
.categories li ul li{}
.categories li figure{display:block; max-width:320px;}
.categories li figure figcaption{padding:30px 20px 0 20px;}
.categories li figure figcaption ul{}
.categories li figure figcaption ul li{margin-bottom:10px;}
.categories li figure figcaption ul li:nth-child(1) em{display:block;}
.categories li figure figcaption ul li:nth-child(2){margin-bottom:20px;}
.categories li figure figcaption ul li:last-child{margin:0;}

/* Events */
.event{}
.event figcaption{padding:10px;}
.event figcaption time{display:block; margin:0 0 5px 0; font-size:.8rem;}
.event figcaption time strong{font-weight:400; font-size:1.8rem;}
.event figcaption time strong::after{margin:0 0 0 5px; content:"/";}
.event figcaption .heading{margin:0 0 10px 0; font-size:1.2rem;}
.event figcaption p{margin:0 0 20px 0; padding:0;}
.event figcaption p:last-of-type{margin:0;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0 50px;}
#footer.topspace-0{padding-top:0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:1.2rem;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .font-xs{margin:0;}

#footer #newsletter{display:block; margin:0 0 80px 0; padding:25px;}
#footer #newsletter input, #footer #newsletter button{padding:10px 12px; border:none;}
#footer #newsletter button{padding:9px 18px; font-weight:bold; text-transform:uppercase; cursor:pointer;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 30px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:0 0 30px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 3px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:.8rem; text-transform:uppercase;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:inline-block; width:30px; height:30px; line-height:30px; font-size:14px; text-align:center;}
.faico a{color:inherit; background-color:transparent;}

.faicon-dribble:hover{color:#EA4C89;}
.faicon-facebook:hover{color:#3B5998;}
.faicon-google-plus:hover{color:#DB4A39;}
.faicon-linkedin:hover{color:#0E76A8;}
.faicon-pinterest:hover{color:#C8232C;}
.faicon-rss:hover{color:#EE802F;}
.faicon-twitter:hover{color:#00ACEE;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#AAAAAA; background-color:#17100B;}
a{color:#6C2833;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#6C2833;}

.btn{color:inherit; background-color:transparent; border-color:inherit;}
.btn:hover{color:#FFFFFF; background-color:#6C2833; border-color:#6C2833;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.45);}
.overlay.coloured::after{color:inherit; background-color:rgba(108,40,51,.8);/* #6C2833 */}
.overlay.coloured .btn:hover{color:#17100B; background-color:#E9D491; border-color:#E9D491;}

.imgoverlay::before, .imgoverlay::after{color:#FFFFFF; border-color:rgba(255,255,255,.3); background-color:rgba(0,0,0,.3);}


/* Rows */
.row0{color:#D7D7D7; background-color:rgba(0,0,0,.65); border-color:#333333;}
.row1{color:#FFFFFF; background-color:rgba(0,0,0,.3);}
.row2{color:#FFFFFF; background-color:#6C2833;}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#D7D7D7; background-color:#17100B;}
.row4.overlay::after{background-color:rgba(23,16,11,.8);/* #17100B */}
.row4 a{color:#E9D491; background-color:inherit;}
.row5, .row5 a{color:#AAAAAA; background-color:#17100B;}


/* Header */
#header #logo a{color:inherit;}
.header-image{
    background-image:url('../../images/demo/backgrounds/007.jpg');
}

/* Sub Pages */
#pagetitle *{color:#E9D491;}


/* Homepage Specific */
#pageintro .underline::after{background-color:#FFFFFF;}
#pageintro #bookatable{background-color:rgba(108,40,51,.65);/* #6C2833 */}
#pageintro #bookatable form input{color:#FFFFFF; background-color:rgba(0,0,0,.5);}
#pageintro #bookatable form *[placeholder]{color:#FFFFFF; opacity:1;}
#pageintro #bookatable form button{color:#6C2833; background-color:#E9D491;}


/* Content Area */
.container .underline::after{background-color:#D7D7D7;}


/* Footer */
#footer .title{color:#FFFFFF; border-color:#3C3C41;}

#footer #newsletter{color:#FFFFFF; background-color:#6C2833;}
#footer #newsletter input{color:#17100B; background-color:#FFFFFF;}
#footer #newsletter button{color:#17100B; background-color:#E9D491;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#E9D491; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#E9D491; background-color:#6C2833;}
#mainav form select{color:#FFFFFF; background-color:#17100B;}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#6C2833;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#6C2833;}

#backtotop{color:#FFFFFF; background-color:#6C2833;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#6C2833;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{padding-bottom:30px;}

	#mainav{padding:30px 0;}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar{text-align:center;}
	#topbar *{margin:0;}
	#topbar .fl_left ul{margin:0 0 10px 0; line-height:normal;}
	#topbar .fl_left ul li{display:inline-block; margin-right:20px;}
	#topbar .fl_left ul li:last-child{margin-right:0;}
	#topbar .faico li{float:none;}

	#header{text-align:center;}
	#header #logo{margin:0 0 30px 0;}

	#pageintro{padding-top:100px;}
	#pageintro .introtxt .heading{font-size:36px;}
	#pageintro #bookatable form input, #pageintro #bookatable form button{display:inline-block; float:left; width:48.46625766871166%; margin:0 3.06748466257669% 15px 0;}
	#pageintro #bookatable form input:nth-child(even), #pageintro #bookatable form button{margin-right:0; clear:right;}

	.container{padding-bottom:50px;}

	#footer{padding-bottom:20px;}
	#footer #newsletter input{display:block; width:100%; padding:10px 12px;}
	#footer #newsletter form, #footer #newsletter button{margin-bottom:0;}
}


@media screen and (max-width:450px){
	#topbar .fl_left ul li{display:block; margin:5px 0 0 0;}
	#topbar .fl_left ul li:first-child{margin:0;}

	#pageintro #bookatable form input, #pageintro #bookatable form button{display:block; float:none; width:100%; margin-right:0;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#header #quickinfo li{display:block; margin-right:0;}
}